.env

# Игнорируем директории сборки
release/
dist/
updates/
.idea/

# Игнорируем установочные файлы
*.exe
*.deb
*.AppImage

# Игнорируем распакованные сборки
*-unpacked/

# Игнорируем зависимости
node_modules/

# Игнорируем временные файлы
*.log
*.asar